.terraform
**/.terraform/*
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.lock
.terraform.tfstate.lock.info
.terraform.lock.hcl
terraform-sa.json
*.tfstate
*.tfstate.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
nohup.out
k3d-default.yaml
crash.log
.vagrant